<% content_for :title, "Editing task master" %>

<h1>Editing task master</h1>

<%= render "form", task_master: @task_master %>

<br>

<div>
  <%= link_to "Show this task master", @task_master %> |
  <%= link_to "Back to task masters", task_masters_path %>
</div>
