<% content_for :title, "Editing task master" %>

<h1>Editing task</h1>

<%= render "form", task_master: @task %>

<br>

<div>
  <%= link_to "Show this task", @task %> |
  <%= link_to "Back to task", task_path %>
</div>
